* {box-sizing: border-box;}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	font-family: sans-serif;
}

.form{
    height:400px;
    width: 500px;
    /* background-color: rgba(255,255,255,0.13); */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 5vw;
	margin: 5vw;
}
.inform{
    /* width: 500px; */
    background-color: rgba(255,255,255);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 5vw;
	margin: 5vw;
}
.Inviteform{
    padding: 5vw;
}
  header{
    /* height:4rem; */
    background-color: black;
    align-items: center;
    font-family: sans-serif;
    font-style: bold;
    display: inherit;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    transition: all .2s;
    z-index: 9;
    justify-content: space-between;
  }
  .header-left{
    align-items: center;
    justify-content: center;
    /* padding: 0 2rem 0 1rem; */
    flex-shrink: 0 
  }
  .header-middle{
    padding: 0 10rem 0 7rem;
    align-items: center;
    /* justify-content: flex-start;
    flex-shrink: 1;
    min-width: 0;
    width: 100%; */
  }
  .useremail{
    padding: 0 0.2rem 0 0.2rem;
}
  .invite{
    padding: 0 1rem 0 0.2rem;
    align-items: center;
  }
  .logoutuser{
      padding: 0 0.2rem 0 0.2rem;
      align-items: center;
  }
  .inform{
    padding: 0 0.5rem 0 1rem;
    align-items: center;
  }
  
  .storylist{
      color: #fff;
    padding: 0 2rem 0 2rem;
    align-items: center;
  }
.room-module{
    /* margin-top: 5rem;
    height: 100%;
    overflow-y: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100vw; */
    display: flex;
	flex: 1;
    /* margin-top: 50px */
}
.result-module{
    display: grid;
    gap: 15px
}
.card-module{
    margin: 5rem;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    align-content: center;
    justify-items: center;
}
.cardbtn{
    padding: 0px;
}
.cards { 
    display: grid;
    flex-direction: center;
    flex-wrap: wrap;
    gap: 15px;
} 
.wrapper{
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto auto auto;
}
.wrapper1{
    display: grid;
    gap: 5px 5px;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
}
.resultgrid1{
    display:grid;
    justify-items: center;
    margin: 1vw;
}
.countgrid{
    display: flex;
    column-gap: 4vh;
}
.countname{
    display: flex;
    column-gap: 5vh;
}
.emailgrid{
    display: flex;
    font-size: 16px;
    justify-content: center;
}


.gridVoting{
    background: #21323126;
    border-radius: 10px;
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto auto auto;
}
.adminButton{
    padding: 0 10rem 0 10rem;
    margin: 10px;
    display: flex;
    float: right;
}
/* input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
} */
.group-form-input{
    margin: 0 0 1rem;
    padding: 1rem 0 0;
    position: relative;
    width: 100%;
}

label {
    cursor: default;
}
.header4{
    color: #ffffff;font-size: 2rem;font-weight: 800;line-height: 1.2em;margin: 0;padding: 10px;
}
.h4{
    color: #050505;font-size: 2rem;font-weight: 800;line-height: 1.2em;margin: 0;padding: 10px;
}
.header5{
    color: #eceff1;font-size: 1rem;font-weight: 800;line-height: 1em;margin: 0;padding: 0;
}
.input-class,.copy{
    text-align: start;
    appearance: none;
    /* background: transparent; */
    outline-color: #74b3ff;
    border-radius: 10px;
    border: 2px solid #008CBA;
    color: #1a2935;
    font-size: 1.6rem;
    height: 5.6rem;
    outline: none;
    padding: 0 1.6rem;
    position: relative;
    transition: all .1s;
    width: 100%;
    z-index: 1;
}
.copy{
    font-size: 1rem;
    height: 4rem;
}
.label-form{
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    color: #1a2935;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    height: 2rem;
    left: 1.2rem;
    margin: 0;
    padding: 0 0.8rem;
    position: absolute;
    top: 0;
    transition: all .2s;
    z-index: 2;
}
.lgame{
    font-size: 1rem;
}
.button1 {
    background-color:#74b3ff;
    border-radius: 4px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .b1{
    background-color: #008CBA; 
    color: white; 
    font-size:12px ;
    border-radius: 10px;
    border: 2px solid #008CBA;
  }
  .b1:hover{
    background-color: white;
    color: black;
  }
.close{
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
.spades {
    font-size: 50px;
    align-items: center;
    background-image: url("https://bluepineapple.io/wp-content/uploads/2019/11/bp-square-1.png");
    
}

img {
    width: 45px;
    height: 45px;
    padding-right: 10px;
}